@mixin form-floating-input-group-validation-state(
  $state,
  $color,
  $icon,
  $tooltip-color: color-contrast($color),
  $tooltip-bg-color: rgba($color, $form-feedback-tooltip-opacity),
  $focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($color, $input-btn-focus-color-opacity)
) {
  .input-group-outlined,
  .form-floating > .input-group-outlined {
    &.input-group {
      //background: red;
      @include form-validation-state-selector($state) {
        border-color: $color;
        &.input-group-focused {
          border-color: $color;
          box-shadow: $focus-box-shadow;
        }
        .form-control {
          @if $enable-validation-icons {
            //padding-right: $input-height-inner;
            //background-position: right $input-height-inner-quarter center;
            padding-right: calc(#{$input-height-inner} - #{$input-height-inner-quarter});
            background-image: escape-svg($icon);
            background-repeat: no-repeat;
            //background-position: right calc(#{$input-height-inner-quarter} * .5) center;
            background-position: right calc(#{$input-height-inner-quarter}) center;
            background-size: $input-height-inner-half $input-height-inner-half;
          }
        }
      }
    }
  }
}
// scss-docs-end form-validation-mixins
